.firstlink:default {
    background-color: white;
}

.firstlink:hover {
    background-color: violet;
}

.firstlink:focus {
    background-color: yellow;
}

.firstlink:active {
    background-color: lightcoral;
}
