<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->

<p>{{animalType}}</p>
<p>{{pet}}</p>
<p>{{fierceness}}</p>